/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Thasadith&family=Sarabun&display=swap');
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@plugin 'tailwindcss-primeui';
@layer tailwind, primeng;

@layer tailwind {
  @import "tailwindcss";
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Leelawadee UI';
  src: url('/assets/fonts/LeelaUIb.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-sarabun: Sarabun, sans-serif;
  --font-thasadith: Thasadith, sans-serif;
  --font-leera: 'Leelawadee UI', sans-serif;
}

html, body {
  font-family: var(--font-sarabun), serif;
  font-size: 1.025rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
}

:root {
  --toast-message-font-size: 1.125rem;
  --toast-message-font-style: italic;
}

.p-toast-message {
  font-size: var(--toast-message-font-size);
  font-style: var(--toast-message-font-style);
}

.p-toast-detail {
  font-style: italic;
  font-size: 1.125rem;
}

.p-toast-summary {
  font-size: 1.125rem !important;
}

.btn-disabled {
  @apply bg-indigo-400 text-slate-300 opacity-45 cursor-not-allowed;
}

.btn-enabled {
  @apply bg-indigo-600 text-white cursor-pointer;

  /* Mouse hover effect */

  &:hover {
    @apply bg-indigo-700;
  }
}

/* ให้ใช้ใน container จะขยายเต็ม */
.table-container {
  @apply overflow-x-auto overflow-y-hidden w-full;
}

.loading-shade {
  @apply fixed inset-0 bg-black/40 z-[9999999] flex items-center justify-center;
}

.icons {
  position: relative;
  right: 25px;
  top: 1.5px;
}

th {
  @apply px-6 py-3 text-left text-lg font-medium text-teal-400 bg-gray-950 uppercase tracking-wider;
}

.isAlive {
  color: #78f153 !important;
  font-weight: 500 !important;
  font-family: 'Sarabun', sans-serif;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}

.status {
  color: #f63653 !important;
  font-weight: 500 !important;
  font-family: 'Sarabun', sans-serif;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}
